.chatpage {
  width: 1000px;
  border-radius: 10px;
  max-width: 100%;
  margin: 50px auto 0px auto;
  display: flex;
  height: 80vh;
  overflow: hidden;
  color: white;
  box-shadow: 5px 10px 20px rgb(246, 242, 242);
}
.sidebar {
  background-color: #cb6997;
  /* background-color: #C85C8E; */
  flex: 1;
  overflow: auto;
}
.messagepanel {
  background-color: #f8d1ea;
  flex: 2;
}
.messageInput {
  height: 50px;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.messages {
  height: calc(100% - 100px);
  overflow: auto;
}
.input {
  width: 100%;
  border: none;
  outline: none;
  color: #6b103b;
}
::placeholder {
  color: lightgray;
}
.messageButton{
    background-color: #C85C8E;
    border: none;
    padding: 7px 10px;
    outline: none;
    color: white;
    border-radius: 5px;
}
.showmessage{
  background-color: #C85C8E;
  border: 1px solid #C85C8E;
  padding: 5px;
  margin:5px;
  width:50%;
  
  clear: both;
}
.border1{
  border-radius: 10px 0px  10px 10px;
}
.border2{
  border-radius: 0px 10px  10px 10px;
}
.float{
  float:right;
  clear:both;
}
.sendername{
  margin:10px 2px 0px 7px;
  color:#8b0a46;
  clear: both;
  font-weight: bold;
  font-style: italic;
}
.creategroup{
  background-color: #9D3C72;
  color:white;
  margin: 10px;
  height: 100px;
  border: 1px solid #9D3C72;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button{
  background-color: #df71a4;
  border:1px solid #df71a4;
  outline: none;
  padding: 5px;
  color:white;
  border-radius:5px;
  
}
.groupform{
  display: flex;
  
}
.groupinput{
  border:1px solid #9D3C72;
  outline: none;
  border-radius: 5px;
  margin-right: 6px;
}
.showgroup{
  margin: 10px;
  background-color:#9D3C72;
  padding: 10px;
  border-bottom:1px solid #9D3C72;
  border-radius: 10px;
  font-style: italic;
  overflow: auto;
  color: white;
}
.showgroup:hover{
 box-shadow: 3px 5px 10px #9D3C72; 
}
.admin{
  background-color: aliceblue;
  color:#8b0a46;
  border:1px solid white;
  border-radius: 5px;
  font-size: 12px;
  padding:2px;
  font-style: italic;
}
.groupnavbar{
  height:50px;
  background-color:#cb6997;
  border-left: #6b103b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}
.button2{
  background-color: #9D3C72;
  border:1px solid #9D3C72;
  outline: none;
  padding: 5px;
  color:white;
  border-radius:5px;
  
}
.groupname{
  font-weight: bold;
  font-size: 20px;
}
.floatleft{
  float: left;
}
.showresult{
  margin: 10px;
  background-color:#9D3C72;
  padding: 10px;
  border-bottom:1px solid #9D3C72;
  border-radius: 10px;
  font-style: italic;
  overflow: auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button3{
  border:1px solid white;
  border-radius: 5px;
  padding:0px 4px;
  background-color: white;
  outline: none;
  font-style: italic;

}
